@model Choozy.Data.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsExcluded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsExcluded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvatarFilename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvatarFilename)
        </dd>

        <dt>
            @*Avatar*@
        </dt>

        <dd>
            <img class="img-responsive" src="@Url.Content("~/Content/Images/" + Model.AvatarFilename)" alt="User avatar" width="100" height="100" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
